.backpwd{
    width: 450px;
    height: 350px;
    background: white;
    text-align: center;
    margin: 0 auto;
}
#back-login{
    color: #4B63BB;
    font-size: 24px;
    text-decoration: none;
    font-weight: bold;
    margin-top: 50px;
    display: block;
}
#back-login:hover{
    color: burlywood;
}